/* Estilos personalizados para notificaciones (Snackbar) */

.snackbar-success {
  background-color: #4caf50 !important;
  color: white !important;

  .mat-simple-snackbar-action {
    color: white !important;
  }
}

.snackbar-error {
  background-color: #f44336 !important;
  color: white !important;

  .mat-simple-snackbar-action {
    color: white !important;
  }
}

.snackbar-warning {
  background-color: #ff9800 !important;
  color: white !important;

  .mat-simple-snackbar-action {
    color: white !important;
  }
}

.snackbar-info {
  background-color: #2196f3 !important;
  color: white !important;

  .mat-simple-snackbar-action {
    color: white !important;
  }
}

/* Posicionamiento de snackbar */
.mat-mdc-snack-bar-container {
  margin: 8px !important;
}
